// All clases generic

// Text web
.textweb {
    @include textWeb();
}

.titleweb{
    @include titleWeb();
}

// Action show hide
.hide {
    opacity: 0;
    transition: all 600ms ease-in;
}

.show {
    opacity: 1;
    transition: all 600ms ease-in;
}