@import "../../sass/Style.scss";

.contact {
    background: $background;
    width: 100%;
    min-height: 100vh;
}

.article-contact {
    @include vw(70%);
    padding-top: 177px;
    position: relative;
}

.card-inputs-contact{
    background-color: rebeccapurple;
}

.box-inputs-contact{
    background-color: rebeccapurple;
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
}