@import "../../../sass/Style.scss";

.box-card-inputs{
    position: relative;
    width: 100%;
    height: 580px;
    border-radius: 12px;
    overflow: hidden;
}

.card-inputs{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 2px solid $transparentWhite;
    box-shadow: $shadowBlack;

    &::after{
        position: absolute;
        content: '';
        background-color: $background;
        opacity: .5;
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
}

.circleblue, .circlered, .circleyellow{
    filter: blur(50px);
}

.circlered{
    position: absolute;
    z-index: 0;
    width: 580px;
    height: 580px;
    background: linear-gradient(45deg, #191A1C00, #FF215610);
    border-radius: 100%;
    top: 0;
    left: 50%;

    &::before {
        position: absolute;
        content: '';
        z-index: 1;
        width: 78px;
        height: 78px;
        background: $red;
        border-radius: 100%;
        top: 20%;
        left: 60%;
    }

    &::after{
        position: absolute;
        content: '';
        z-index: 1;
        width: 94px;
        height: 94px;
        border: 5px solid $red;
        border-radius: 100%;
        top: 18.7%;
        left: 58.7%;
    }
}

.circleblue{
    position: absolute;
    z-index: 0;
    width: 580px;
    height: 580px;
    background: linear-gradient(315deg, #09A7FF00, #09A7FF10);
    border-radius: 100%;
    top: 0;
    left: 0;

    &::before {
        position: absolute;
        content: '';
        z-index: 1;
        width: 78px;
        height: 78px;
        background: $blue;
        border-radius: 100%;
        top: 18%;
        left: 25%;
    }

    &::after{
        position: absolute;
        content: '';
        z-index: 1;
        width: 94px;
        height: 94px;
        border: 5px solid $blue;
        border-radius: 100%;
        top: 16.63%;
        left: 23.65%;
    }
}

.circleyellow{
    position: absolute;
    z-index: 0;
    width: 580px;
    height: 580px;
    background: linear-gradient(225deg, #F2F21200, #F2F21210);
    border-radius: 100%;
    top: 10%;
    left: 20%;

    &::before {
        position: absolute;
        content: '';
        z-index: 1;
        width: 78px;
        height: 78px;
        background: $yellow;
        border-radius: 100%;
        top: 60%;
        left: 25%;
    }

    &::after{
        position: absolute;
        content: '';
        z-index: 1;
        width: 94px;
        height: 94px;
        border: 5px solid $yellow;
        border-radius: 100%;
        top: 58.63%;
        left: 23.65%;
    }
}