@import "../../sass/Style.scss";

$changeBackground: (
    face: $colorFacebook,
    git: $colorGithub,
    in: $colorLinkedin
);


.items-socialdesk{
    display: flex;

    &:hover .tooltip-socialdesk{
        opacity: 1;
        pointer-events: auto;
        animation: toing 300ms ease;
        transition: all 200ms ease-in-out;
    }
}

.link-socialdesk{
    background-color: $background;
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    box-shadow: $shadowBlack;
}

.tooltip-socialdesk{
    position: absolute;
    width: 85.97px;
    left: 100%;
    padding: 4px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: $regular;
    font-family: $text;
    text-align: center;
    color: $white;
    pointer-events: none;
    opacity: 0;
    transition: all 200ms ease;

    &::before{
        background-color: $background;
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        top: 33%;
        left: 0;
        transform: translate(-50%) rotate(45deg);
        transition: all 200ms ease-in-out;
    }
}

@each $key,
$value in $changeBackground {
    .items-socialdesk:hover{
        .#{$key} {
                background-color: $value;
        
                &.tooltip-socialdesk::before {
                    background-color: $value
                }
            }
    }
}

@keyframes toing {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateX(-30px);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateX(-20px);
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateX(0);
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateX(-10px);
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateX(0);
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateX(-8px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateX(0);
    }
}