@import "../../sass/Style.scss";

.section-formhome{
    background: $background;
    padding-top: 100px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
}

.title-contactme{
    font-size: 30px;
    font-family: $title;
    font-weight: $bold;
    color: $white;
}