@import "../../sass/Style.scss";

.section-designerux{
    background-color: $background;
    min-height: 100vh;
}

.article-designerux{
    @include vw(70%);
    padding-top: 177px;
    padding-bottom: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-cardsdesignerux{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
