@import "../../sass/Style.scss";

.section-professionalpassion{
    background: $background;
    min-height: 100vh
}

.article-professionalpassion{
    @include vw(70%);
    padding-top: 177px;
    display: flex;
    gap: 60px;
    flex-direction: column;
}

.box-cardsprofessionalpassion{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.boxcards{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}