@import "../../../sass/Style.scss";

.header{
    background: $background;
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.box-header{
    @include header;
    justify-content: space-between;
}

.listnav{
    display: flex;
    gap: 47px;
}