@import "../../sass/Style.scss";

.linecolumn {
    border-left: 3px solid $grey;
    opacity: 50%;
    height: 50px;
}

.linecolumnsocial {
    border-left: 1px solid $grey;
    opacity: 50%;
    height: 50px;
}