@import "../../sass/Style.scss";

.box-infoservice{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    gap: 16px;

    &:hover .img-infoservice{
        opacity: 1;
        transform: scale(1);
        transition: all 300ms ease;
    }

    &:hover .shape-infoservice::before{
        animation: pulse 2s ease 0s infinite;
    }

    &:hover .icon-infoservice{
        filter: blur(0);
        opacity: 1;
        transform: scale(1);
        transition: all 300ms ease;
    }
}

.shape-infoservice{
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before{
        position: absolute;
        content: '';
        left: calc(50% - 7.5px);
        top: calc(50% - 7.5px);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid $background;
    }

    &::after{
        position: absolute;
        content: '';
        width: 2px;
        height: 48%;
        background: $background;
        left: calc(50% - .5px);
        top: 0;
    }
}

.img-infoservice{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, $blue, #055480);
    height: 100px;
    width: 100px;
    border-radius: 100%;
    box-shadow: 0 1px 10px $shadowBlack;
    position: relative;
    z-index: 1;
    opacity: 0;
    transform: scale(0);
    transition: all 300ms ease;
}

.icon-infoservice{
    opacity: 0;
    transform: scale(0);
    transition: all 300ms ease;
    filter: blur(2px);
}

.content-infoservice{
    display: flex;
    flex-direction: column;
}

.title-infoservice{
    font-size: 30px;
    font-family: $text;
    font-weight: $medium;
    color: $white;
}

.text-infoservice{
    font-size: 16px;
    font-family: $text;
    font-weight: $light;
    color: $grey;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        border: 5px solid $white;
        transform: scale(12);
    }
}