@import "../../sass/Style.scss";

.service {
    background: $background;
    width: 100%;
    min-height: 100vh;
}

.article-service{
    @include vw(70%);
    padding-top: 177px;
}

.hiring-explanation{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}