@import "../../sass/Style.scss";

.header{
    background: transparent;
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.box-header{
    @include header;
    justify-content: space-between;
}

.listnav{
    display: flex;
    gap: 47px;
}

.active{
    background: $background;
    box-shadow: 0 3px 10px $dark;
    transition: all 200ms ease-in-out;
}