@import "../../sass/Style.scss";

.box-header{
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.content-header{
    @include header;
    justify-content: space-between;
}

.listnav{
    display: flex;
    gap: 47px;
}

.scroll-active{
    background: $background;
    box-shadow: 0 3px 10px $dark;
    transition: all 200ms ease-in-out;
}

.scroll-inactive{
    background: transparent;
    transition: all 200ms ease-in-out;
}