@import "../../sass/Style.scss";

.linknav {
    color: $white;
    font-family: $text;
    font-size: 20px;
    font-weight: $regular;
    display: flex;
    align-items: center;
}

/* Hide extra text */
.mask-navbar {
    position: relative;
    height: 20px;
    overflow: hidden;
}

.link-container {
    transition: transform 0.4s ease;
}

.block-fx {
    display: block;
    line-height: 20px;
    user-select: none;
    transition: transform 0.4s ease;
}

.link-visible {
    transform-origin: right center;
}

.link-hide {
    transform-origin: left center;
    transform: rotate(20deg);
}

/* Hover Action*/
/* Move up two texts (20px = font-size) */
.linknav:hover .link-container {
    transform: translateY(-20px);
}

/* Rotate texts a little bit */
.linknav:hover .link-visible {
    transform: rotate(20deg);
}

.linknav:hover .link-hide {
    transform: rotate(0);
}