@import "../../../sass/Style.scss";

.box-subtitle{
    display: flex;
    gap: 16px;
    height: 50px;
}

.title-subtitle, .text-subtitle{
    font-size: 14px;
    font-weight: $medium;
    font-family: $text;
    color: $grey;
}

.title-subtitle{
    margin-top: 4px;
}

.text-subtitle{
    margin-left: 16px;
    opacity: 50%;
}

.information-subtitle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}