//All style proyect

//COLORS
//Primary
$white: #EEF0F3;
$grey: #AEB3BA;
$background: #191A1C;
$black: #0C0E14;
$dark: #04060D;

//Secundary
$blue: #09A7FF;
$red: #FF2156;
$yellow: #F2F212;

//Thirt
$optionColor: #28292C;

//SocialShere
$colorFacebook: #1877F2;
$colorBehance: #0066F7;
$colorGithub: #191A1C;
$colorWhatsapp: #52CC5F;
$colorGmail: #E34133;
$colorLinkedin: #0A66C2;

//Shadows
$shadowBlack: 0 3px 10px #04060D36;
$shadowWhite: 0 3px 10px #AEB3BA50;
$shadowBlue: 0 0 6px #09A7FF50;
$shadowRed: 0 0 6px #FF215650;
$shadowYellow: 0 0 4px $yellow;

//Colors Transparent
$transparentBlack: #04060D36;
$transparentWhite: #AEB3BA50;

//Tipografia
$title: 'Nunito',
sans-serif;
$text: 'Prompt',
sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

//Gradiente
$gradientVertical: linear-gradient(to bottom, $blue, $red);
$gradientDeg: linear-gradient(to bottom right, $blue, $red);
$gradientHorizontal: linear-gradient(to right, $blue, $red);