//All mixins generic
@import "../style/StyleProyect.scss";

//Header
@mixin header {
    display: flex;
    align-items: center;
    margin: auto;
    width: 82%;
}


//Measurements across the screen
@mixin vw($num) {
    margin: auto;
    width: $num;
}


//Background Image
@mixin bgImg ($img){
    $url: "../../assets/image/#{$img}.png";
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


// Texts web
@mixin titleWeb {
    font-size: 46px;
    font-weight: $bold;
    font-family: $title;
    color: $white;
}

@mixin textWeb {
    font-size: 18px;
    font-weight: $light;
    font-family: $text;
    color: $grey;
    line-height: 2;
}


// Texts cards
@mixin titleCard($size: 16px, $color: $white, $weight: $light) {
    font-size: $size;
    font-weight: $weight;
    font-family: $title;
    color: $color;
}

@mixin textCard($size: 16px, $color: $white) {
    font-size: $size;
    font-weight: $light;
    font-family: $text;
    color: $color;
}