@import "../../sass/Style.scss";

.box-descriptioncatquantum{
    width: fit-content;
}

.title-catquantum {
    font-size: 24px;
    font-family: $title;
    font-weight: 600;
    color: $white;
}

.span-catquantum {
    font-weight: $medium;
}