@import "../../sass/Style.scss";

.formhome{
    width: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-form{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-textarea{
    width: 100%;
    display: flex;
}