@import "../../sass/Style.scss";

.formhome{
    width: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-form{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-textarea{
    width: 100%;
    display: flex;
}

.btn-form{
    background: none;
    width: 150px;
    height: 60px;
    border-radius: 3px;
    border: 2px solid $transparentWhite;
    font-size: 14px;
    font-family: $text;
    font-weight: $regular;
    color: $grey;
    cursor: pointer;
    margin-top: 40px;
    
    &:hover{
        border: 2px solid $blue;
        box-shadow: $shadowBlue;
    }
}